<% provide(:title, "About Us") %>

<h1>About Us</h1>
    <p>
      This my first testing application, in which using rspec with capybara and cucumber.
      If you type script/rails generate, the only RSpec generator you'll actually see
      is rspec:install. That's because RSpec is registered with Rails as the test framework,
      so whenever you generate application components like models, controllers, etc, RSpec
      specs are generated instead of Test::Unit tests.
    </p>


