<% provide(:title, 'Contact') %>
<h1>Contact Us</h1>
<div>
    <p>Pink Hand Technologies Pvt. Ltd. </p>
    <p>C-133, Level-4 </p>
    <p>Phase-VIII, Industrial Area,</p>
    <p>Mohali, Punjab </p>
    <p>India </p>
    <p>email:contact@pinkhandtech.com</p>
    <p>contact:+0172-5097703 </p>
</div>