<footer class="footer">
  <small>
    <a href="http://localhost:3000/static_pages/home">This Application</a>  by Vikas Kumar
  </small>
  <nav>
    <ul>
      <li>
        <%= link_to "About", about_path %>
        <%= link_to "Contact", contact_path %>
      <!--<li><a href="http://news.railstutorial.org/">News</a></li>-->
      </li>
    </ul>
  </nav>
</footer>